.App {
  text-align: center;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  background-color: #282c34;
  color: white;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(17, 39, 104);
  border-bottom: solid 2px rgb(22, 164, 207);

  h1 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: auto;
    height: 2rem;
    font-size: 1.8rem;
  }
}


.button-like {
  margin: 5px;
  padding: 4px;
  width: 140px;
  height: 2rem;
  text-align: center;
  font-size: 1.4rem;
  background-color: cornflowerblue;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}


.dialog {
  width: 950px;
  height: 650px;
  background-color: #293652;
  padding: 15px;

  .operation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  input {
    font-size: 1.2rem;
    height: 1.8rem;
    width: 500px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    display: block;

    &::placeholder {
      color: lightgray;
    }
  }

  .search-results {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

}


.book-search-item {
  margin: 5px;
  padding: 5px;
  background-color: #181a1f;
  width: 290px;
  height: 260px;
  text-align: center;
  position: relative;

  h2 {
    font-size: 1.2rem;
    height: 1.4rem;
    margin: 2px 2px 2px;
    padding: 2px 2px 2px 10px;
    text-align: left;
    width: 280px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    font-weight: bold;
  }

  .authors {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
  }

  .add-book {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: darkseagreen;
    font-size: 2rem;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  div {
    font-size: 1.0rem;
    height: 1.2rem;
    margin: 2px 2px 2px;
    padding: 2px 2px 2px;
    text-align: right;
  }

  img {
    margin: 10px 5px;
    height: 180px;
  }
}

.book-row {
  background-color: #181a1f;
  display: flex;
  flex-direction: row;

  &:nth-child(even) {
    background-color: #292c35;
  }

  &:nth-child(even) {
    input {
      background-color: #292c35;
    }
  }

  div {
    font-size: 1.0rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &.title {
      width: 350px;
    }

    &.authors {
      width: 280px;
    }
  }

  input {
    width: 450px;
    padding: 15px 2px 0;
    color: aquamarine;
    background-color: #181a1f;
    border: none;
    outline: 0;
    border-bottom: 1px solid #fff;

    &:focus {
      border-bottom: 3px solid #fff;
      font-size: 1.1rem;
    }
  }

  .delete-row {
    margin: 10px 15px 10px;
    padding: 4px;
    width: 80px;
    height: 1.6rem;
    text-align: center;
    font-size: 1.2rem;
    background-color: rgb(230, 163, 20);
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}



